body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #2c5f2d, #4e342e);
  color: #f0f0e8;
  min-height: 100vh;
}

.App {
  text-align: center;
  padding: 2rem;
}

.App-header {
  background-color: rgba(9, 61, 7, 0.24);
  padding: 2rem;
  border-radius: 12px;
  max-width: 900px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

h1 {
  color: #d4e09b;
  margin-bottom: 1rem;
}

h5 {
  color: #b0c48c;
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

li {
  margin: 0.5rem 0;
}

a {
  color: #aaeb55;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.54rem;
}

a:hover {
  text-decoration: underline;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 100%;
  max-width: 500px;
  text-align: left;
  color: #cdd9b0;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #768466;
  border-radius: 6px;
  margin-top: 0.3rem;
  background-color: rgba(255, 255, 255, 0.15);
  color: #f0f0e8;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #b0c48c;
}

input[type="submit"],
button {
  background-color: #73996e;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="submit"]:hover,
button:hover {
  background-color: #5b7d57;
}

button {
  margin: 1rem;
}
